 body{
            text-align: center;
            background-color: rgb(190, 176, 176);
        }
        h1{
            margin:50px
        }
        div{
            background-color: rgb(71, 77, 71);
        }
        .class{
            margin-right: 32px;
           
            margin-bottom: 20px;
        }
        .class2{
            margin-right: 12px;
        }
        .class1{
            margin-top: 18px;
        }

        .class{
            margin-top: 30px;
        }

        .class4{
            margin-right: 70px;
        }

        .class5{
            margin-left: 101px;
        }